<% content_for "title" do %> ChormaticAberration(<%= ProceduralArt::ChromaticAberration.seed %>) <% end %>

<%= ProceduralArt::ChromaticAberration.make %>
<% ProceduralArt::ChromaticAberration.seed &+= 1 %>