<% content_for "title" do %> Art <% end %>

<ul>
  <li><a href="/inward">Inward</a></li>
  <li><a href="/mineshift-s">Mineshift Simple</a></li>
  <li><a href="/mineshift-c">Mineshift Complex</a></li>
  <li><a href="/chromatic">Chromatic Aberration</a></li>
  <li><a href="/hypnos">Hypnos</a></li>
  <li><a href="/semicircle">Semi Circle Pathwork</a></li>
  <li><a href="/splash">Splash</a></li>
  <li><a href="/psychoflower">PsychoFlower</a></li>


</ul>