<% content_for "title" do %> MineshiftComplex(<%= ProceduralArt::Mineshift::Complex.seed %>) <% end %>

<%= ProceduralArt::Mineshift::Complex.make %>
<% ProceduralArt::Mineshift::Complex.seed &+= 1 %>