<% content_for "title" do %> SemiCirclePatchwork(<%= ProceduralArt::SemiCirclePatchwork.seed %>) <% end %>

<%= ProceduralArt::SemiCirclePatchwork.make %>
<% ProceduralArt::SemiCirclePatchwork.seed &+= 1 %>