<% content_for "title" do %> Splash(<%= ProceduralArt::SplashEffect.seed %>) <% end %>

<div style="width:100%; height:100%;">
<%= ProceduralArt::SplashEffect.make %>
<% ProceduralArt::SplashEffect.seed &+= 1 %>
</div>