<% content_for "title" do %> Subdivision(<%= ProceduralArt::Subdivision.seed %>) <% end %>

<div style="width:50%; height:50%;">
<%= ProceduralArt::Subdivision.make %>
<% ProceduralArt::Subdivision.seed &+= 1 %>
</div>