 <% height = 800 %>
 <% width = 1000 %>
 
 <svg height="<%= height %>" width="<%= width %>">
  <% current_tri_size = 5 %>
  <% tri_size = current_tri_size %>
  <% 7.times do |g| %>
    <% perlin = PerlinNoise.new(rand(10_000)) %>
  
    <% (width/tri_size).floor.to_i.times do |x| %>
      <% (height/tri_size).floor.to_i.times do |y| %>
        <% if perlin.int(5 + (x | y), 5 + (y & x), 0, 2+(g*160), 0.1234) == 0 %>
          <polygon points="<%= x * tri_size %>,<%= y * tri_size %> <%= x * tri_size %>,<%= y * tri_size + current_tri_size %> <%= x * tri_size + current_tri_size %>,<%= y * tri_size %>" style="fill:black;stroke-width:0"/>
        <% end %>
      <% end %>
    <% end %>

    <% current_tri_size = (current_tri_size * 1.5).floor.to_i %>
  <% end %>
</svg> 